.ui.borderless.topmenu.menu {
  background-color: white;
  box-shadow: none;
  border: none;
  padding-right: 500px;
}

.ui.dropdown.right.item {
  padding-left: 600px;
}

.footer {
  background-color: #F2F2F2;
}

.main-background {
  background-image: url("https://cdn.discordapp.com/attachments/566007145691217940/682144369108975620/unknown.png");
  background-size: cover;
  height: 425px;
  color: white;
}

.ui.container {
  width: 100%;
  padding-right: 125px;
  padding-left: 125px;


}

.header {
  padding-top: 100px;
  padding-left: 100px;
  color: black;

}
